.App {
  font-family: sans-serif;
  text-align: left;
  width: 100%;
  max-width: 1200px; /* O el ancho máximo deseado para el contenido */
  margin: 0 auto; /* Centra el contenedor */
  padding: 20px; /* Agrega espacio alrededor del contenido */
  text-align: left;
}

#root{
  display: flex;
  flex: 1;
}

body {
  background-color: #13072E;
 
}